#links {
    float: right;
    margin-top: 40px;
}

#links a {
    transition: 300ms;
    display: block;
    letter-spacing: 4px;
    font-weight: 100;
    font-family: "Abel", sans-serif;
    font-size: 12px;
    color: #d0d0d0;
    margin: 5px 0;
}

#links a:hover {
    cursor: pointer;
    color: #435b5e;
}

#nameCard {
    float: left;
    margin-top: 25px;
    margin-left: 10px;
}

#header {
    height: 170px;
}

#headerButton {
    transition: 300ms;
    opacity: 1;
    height: 150px;
    width: 70px;
    float: left;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 5px;
}

#headerButton:hover {
    cursor: pointer;
    height: 160px;
    background-color: #344345;
}

#header img {
    transition: 300ms;
    opacity: 1;
    width: 30px;
    margin-right: 8px;
    margin-top: 3px;
    margin-bottom: 5px;
}

#header img:hover {
    opacity: 0.7;
    cursor: pointer;
    
}