#links {
    margin:auto;
    margin-top: 60px;
    margin-right: -30px;
}

#links a {
    transition: 300ms;
    letter-spacing: 4px;
    font-weight: 100;
    font-family: "Abel", sans-serif;
    font-size: 14px;
    color: #d0d0d0;
    margin-bottom: -20px;
    margin-right: 10%;
}

#links a:hover {
    cursor: pointer;
    color: #435b5e;
}

#nameCard {
    float: left;
    margin-top: 25px;
    margin-left: 10px;
}

#header {
    height: 170px;
}

#headerButton {
    transition: 300ms;
    opacity: 1;
    height: 150px;
    width: 70px;
    float: left;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 5px;
}

#headerCollapse {
    overflow: hidden;
    position: absolute;
    transition: 300ms;
    opacity: 1;
    height: 150px;
    width: 0%;
    left: 60px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 5px;
    z-index: 100;
}

#header img {
    transition: 300ms;
    opacity: 1;
    margin-right: 8px;
    margin-top: 3px;
    margin-bottom: 5px;
}

#header img:hover {
    cursor: pointer;
    
}

.social {
    width: 30px;
}

#hamburger {
    width: 44px;
    position: absolute;
    right: 20px;
    top: 55px;
}

@media only screen and (max-width: 500px) {
    #links a {
        margin-right: 12px;
        font-size: 12px;
    }
    #links {
        margin-right: 15px;
    }
}

.openMenu {
    animation: openMenu 400ms cubic-bezier(0.5,0.5,0.75,1) normal forwards;
}

.closeMenu {
    animation: closeMenu 400ms cubic-bezier(0.5,0.5,0.75,1) normal forwards;
}

@keyframes openMenu {
    from {
        width: 0%;
    }
    to {
        width: 65%;
    }
}

@keyframes closeMenu {
    from {
        width: 65%;
    }
    to {
        width: 0%;
    }
}