#header {
    position: fixed;
    z-index: 100;
    height: 70px;
    top: 0;
}

#headerButton {
    transition: 300ms;
    opacity: 1;
    height: 50px;
    width: 70px;
    float: left;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 5px;
}

#headerButton:hover {
    cursor: pointer;
/*    height: 60px;*/
    background-color: #344345;
}

#header h3 {
    margin-top: 20px;
    margin-left: 25px;
}