body {
    background: #383e47;
}
h2 {
    margin: 0px 0px;
}
input {
    transition: 300ms;
    width: 90px;
    margin-top: 20px;
    border-radius: 6px;
    border-style: none;
    background-color: #a5a5a5;
    padding-left: 4%;
}
input:focus {
    transition: 300ms;
    background-color: #f7f7f7;  
}
#adjuster {
    max-width: 500px;
    margin: auto;
    margin-top: -10px;
}
#adjuster img {
    width: 25px;
    height: 17px;
    margin-bottom: -20px;
}
#adjuster img:hover {
    cursor: pointer;
}
.arrowDown {
    margin-right: -60px;
}
.arrowUp {
   margin-left: -60px;
}
.number {
    font-size: 20px;
}
.clock {
    font-size: 50px;
    margin-top: 50px;
}
#error {
    color: #913f3e;
    font-size: 18px;
}
button {
    transition: 600ms;
    border-radius: 5px;
    background-color: #655c50;
    border-style: none;
    color: #cacaca;;
    font-family: "Dosis";
    width: 90px;
    margin-top: 10px;
    
}
button:hover {
    cursor: pointer;
}
.block {
    margin-top: 40px;
}
.box {
    transition: 700ms;
    width: 40px;
    height: 40px;
    border-radius: 20%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: #655c50;
    opacity: 0.2;
}
.breakRed {
    opacity: 1;
    background-color: #913f3e;
    animation: spinner 1000ms cubic-bezier(0, 0.47, 0.32, 1.97) infinite reverse; 
}
.sessionGreen {
    opacity: 1;
    background-color: #588e5a;
    animation: spinner 1000ms cubic-bezier(0, 0.47, 0.32, 1.97) infinite; 
}
.off {
    color:#913f3e;
}
.on {
   color: #588e5a; 
}
#audio:hover {
    cursor: pointer;
}
@keyframes spinner {
    from {
      
    }
    to {
        transform: rotate(360deg);
    }
}