input[type=text] {
    width: 80%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text] {
    transition: 400ms;
    border-radius: 20px;
    border: none;
    padding: 5px;
    padding-left: 20px;
    background-color: #8d9692;
    color: #232b26;
    max-width: 500px;
}
/* When the input field gets focus, change its width to 30% */
input[type=text]:focus {
    transition: 300ms;
    width: 90%;
    background-color: #f0f0f0;
    max-width: 600px;
}

.search {
    color: #769693;
}

.search:hover {
    color: #d0d0d0;
    cursor: pointer
}

#error {
    color: red;
    opacity: 0.5;
}

.hidden {
    visibility: hidden;
}

.resultBlock {
    background-color: #2a3532;
    margin: 20px;
    padding: 2px 15px;
    border-radius: 10px;
    text-align: left;
}

.resultBlock h2 {
    color: #769693;
}


.resultBlock p {
    font-size: 16px;
}
